.slider .btn {
    margin-top: 20px;
    background-color:#e57373;
  }

.slider{
  margin-top: 6em;
  margin-bottom: 5em;
}

.page-footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
}
